/* body */
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  /* width: 1600px; */
  background-color: #ffffff;
  color: #212121;
}
:root {
  --main-page-color: #ffffff;
  --secondary-page-color: #2f303a;
  --third-main-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
}
/* index and portfolio both */

.list {
  list-style: none;
}

/* header */
.site-head {
  background-color: var(--main-page-color);
}
.site-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-decoration: none;
}
.site-logo:hover {
  background-color: var(--main-page-color);
}
.site-logo:focus {
  background-color: var(--main-page-color);
}
.site-logo-web {
  color: var(--blue-color);
}
.site-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}
.site-list-item:hover {
  color: var(--blue-color);
}
.site-list-item:focus {
  color: var(--main-text-color);
}
.head-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.head-mail:hover {
  color: var(--blue-color);
}
.head-mail :focus {
  color: var(--main-text-color);
}
.head-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.head-phone:hover {
  color: var(--blue-color);
}
.head-phone:focus {
  color: var(--main-text-color);
}
/* footer */
.site-floor {
  background-color: var(--secondary-page-color);
}

.floor-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-decoration: none;
}
.floor-logo:hover {
  background-color: var(--secondary-page-color);
}
.floor-logo:focus {
  background-color: var(--secondary-page-color);
}

.floor-location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-page-color);
  text-decoration: none;
}
.floor-location:hover {
  color: var(--blue-color);
}
.floor-location:focus {
  color: var(--secondary-text-color);
}
.floor-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.floor-mail:hover {
  color: var(--blue-color);
}
.floor-mail:focus {
  color: var(--secondary-text-color);
}
.floor-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.floor-phone:hover {
  color: var(--blue-color);
}
.floor-phone:focus {
  color: var(--secondary-text-color);
}
/* index.html  */

/* Index Main */

/* Hero */
.hero {
  background-color: var(--secondary-page-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-page-color);
}
.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-page-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Benefits  */

.benefits-title {
  visibility: hidden;
}
.benefits-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.benefits-list-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Operation */

.operation {
  background-color: var(--main-page-color);
}

.operation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* Team */

.team {
  background-color: var(--third-main-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-list-item-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* portfolio.html  */

/*  Portfolio Main  */

.project {
  background-color: var(--main-page-color);
}

/* Portfolio Nav buttons */

.site-buttons {
  background-color: var(--main-page-color);
}

.site-buttons-title {
  visibility: hidden;
}
.button-portfolio {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--third-main-color);
  border: var(--third-main-color);
}
.button-portfolio:hover {
  color: var(--main-text-color);
  background-color: var(--third-main-color);
  border: var(--third-main-color);
  border-radius: 4px;
}
.button-portfolio:focus {
  color: var(--main-text-color);
  background-color: var(--blue-color);
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
}
/* Portfolio Projects */

.project-title {
  visibility: hidden;
}

.project-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.project-list-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
