/* body */
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  /* width: 1600px; */
  background-color: #ffffff;
  color: #212121;
}
/* index and portfolio both */
.button {
  cursor: pointer;
}

.list {
  list-style: none;
}

/* header */
.site-head {
  background-color: #ffffff;
}
.site-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.site-logo:hover {
  background-color: #ffffff;
}
.site-logo:focus {
  background-color: #ffffff;
}
.site-logo-web {
  color: #2196f3;
}
.site-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.site-list-item:hover {
  color: #2196f3;
}
.site-list-item:focus {
  color: #000000;
}
.head-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.head-mail:hover {
  color: #2196f3;
}
.head-mail :focus {
  color: #000000;
}
.head-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.head-phone:hover {
  color: #2196f3;
}
.head-phone:focus {
  color: #000000;
}
/* footer */
.site-floor {
  background-color: #2f303a;
}
.location {
}
.location-list {
}
.location-list-item {
}
.floor-location {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.floor-location:hover {
  color: #2196f3;
}
.floor-location:focus {
  color: #757575;
}
.floor-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
.floor-mail:hover {
  color: #2196f3;
}
.floor-mail:focus {
  color: #757575;
}
.floor-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
.floor-phone:hover {
  color: #2196f3;
}
.floor-phone:focus {
  color: #757575;
}
/* index.html  */

/* Index Main */

/* Hero */

/* Benefits  */

.benefits-title {
  visibility: hidden;
}

/* Operation */

/* Team */

/* portfolio.html  */

/*  Portfolio Main  */

/* Portfolio Nav buttons */

.site-buttons-title {
  visibility: hidden;
}

/* Portfolio Projects */

.project-title {
  visibility: hidden;
}
