body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 1600px;
  background-color: #f5f5f5;
  color: #212121;
}

/* index and portfolio */
/* header */
.header {
  background-color: #ffffff;
}

.nav-link {
  display: inline-block;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
}
/* footer */
footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.footer-mail {
  font-weight: 500;
  font-size: 14px;
}

.footer-tel {
  font-weight: 500;
  font-size: 14px;
}

.button {
  cursor: pointer;
}
.hide {
  list-style-type: none;
}
/* index.html */

/* hero */
.hero {
  background-color: #2f303a;
}
.hero-h1 {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
}

/* main */
.why-we-special,
.what-we-do {
  background-color: #ffffff;
}
.our-team {
  background-color: #f5f4fa;
}
